<?xml version="1.0"?>

<launch>

  <node pkg="urg_node" type="urg_node" name="urg_node" />
  
  <!-- <node pkg="scantovmap" type="pharos" name="ScanToVMap" args="scantovmappackage_scan_to_vmap_service" /> -->

  <!-- <node pkg="scantovmap" type="pharos" name="ScanToVMap" args="scantovmappackage_publish_v_map_from_scan" /> -->


  <arg name="show_rviz" default="false"/>
  <arg name="rviz_config" default="$(find scantovmap)/rviz_cfg/config.rviz"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)" if="$(arg show_rviz)"/>
</launch>
