<?xml version="1.0"?>

<launch>
 <arg name="show_rviz" default="true"/>
 
 <node pkg="urg_node" type="urg_node" name="urg_node" />
  
 <!-- <node pkg="scantovmap" type="headless" name="ScanToVMap_topic" args="scantovmappackage_publish_v_map_from_scan" /> -->
 <node pkg="scantovmap" type="pharos" name="ScanToVMap_topic" args="scantovmappackage_publish_v_map_from_scan" /> 

 <node pkg="rviz" type="rviz" name="rviz" args="-d $(find scantovmap)/rviz_cfg/config.rviz" if="$(arg show_rviz)"/>
</launch>
